In [54]:
#Reference
#http://nbviewer.ipython.org/github/savarin/pyconuk-introtutorial/blob/master/notebooks/Section%201-0%20-%20First%20Cut.ipynb
#Data from the UCI Machine Learning Repository : http://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29
import pandas as pd
import numpy as np

data = pd.read_csv("~/GitHub/LearningMachines/GermanCredit.csv",delimiter=',')

In [55]:
#target = iris[1,4]
#data = iris
#data.columns = ["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width","Species"]

data['Class'] = data['Class'].map({'Good': 0, 'Bad': 1}).astype(int)
data.head()

,Unnamed: 0,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
0,1,6,1169,4,4,67,2,1,0,1,...,0,0,1,0,1,0,0,0,1,0
1,2,48,5951,2,2,22,1,1,1,1,...,0,0,1,0,1,0,0,0,1,0
2,3,12,2096,2,3,49,1,2,1,1,...,0,0,1,0,1,0,0,1,0,0
3,4,42,7882,2,4,45,1,2,1,1,...,0,0,1,0,0,1,0,0,1,0
4,5,24,4870,3,4,53,2,2,1,1,...,0,0,1,0,0,1,0,0,1,0

In [56]:
data = data.iloc[:,2:]
data.head()

,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,Class,CheckingAccountStatus.lt.0,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
0,1169,4,4,67,2,1,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
1,5951,2,2,22,1,1,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
2,2096,2,3,49,1,2,1,1,0,0,...,0,0,1,0,1,0,0,1,0,0
3,7882,2,4,45,1,2,1,1,0,1,...,0,0,1,0,0,1,0,0,1,0
4,4870,3,4,53,2,2,1,1,1,1,...,0,0,1,0,0,1,0,0,1,0

In [57]:
# create a Python list of feature names
#feature_cols = ["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]

#http://stackoverflow.com/questions/14940743/selecting-excluding-sets-of-columns-in-pandas

# use the list to select a subset of the original DataFrame
X = data.drop(['Class'], axis=1)

# equivalent command to do this in one line
#X = data[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]]

# print the first 5 rows
X.head()

,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,CheckingAccountStatus.lt.0,CheckingAccountStatus.0.to.200,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
0,1169,4,4,67,2,1,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
1,5951,2,2,22,1,1,1,1,0,1,...,0,0,1,0,1,0,0,0,1,0
2,2096,2,3,49,1,2,1,1,0,0,...,0,0,1,0,1,0,0,1,0,0
3,7882,2,4,45,1,2,1,1,1,0,...,0,0,1,0,0,1,0,0,1,0
4,4870,3,4,53,2,2,1,1,1,0,...,0,0,1,0,0,1,0,0,1,0

In [58]:
# select a Series from the DataFrame
y = data['Class']

# equivalent command that works if there are no spaces in the column name
#y = iris.Species

# print the first 5 values
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Class, dtype: int64

In [59]:
#Making sure data and target are the same length
print(type(X))
print(X.shape)

print(type(y))
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
(1000, 60)
<class 'pandas.core.series.Series'>
(1000,)

In [78]:
#Creating cross validation samples
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,test_size=0.2)

In [79]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
boost = GradientBoostingClassifier(n_estimators=160)
boost.fit(X_train, y_train)
y_pred = boost.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.75

In [80]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn = KNeighborsClassifier(n_neighbors=500)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.705

In [83]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
rf = RandomForestClassifier(n_estimators=1000)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.765